{% extends 'base.html' %}
{% block title %}Signup | AWS Crypto Tracker{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-card">
        <h2>Create Account</h2>
        <p class="subtext">Start tracking crypto prices on AWS</p>

        <form method="POST">
            <input type="text" name="username" placeholder="Choose Username" required>
            <input type="password" name="password" placeholder="Create Password" required>
            <button type="submit">Sign Up</button>
        </form>

        <div class="auth-footer-text">
            Already have an account? <a href="{{ url_for('login') }}">Login</a>
        </div>
    </div>
</div>
{% endblock %}
